# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcuserdatad
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.swiftpm/
.build/

# Cocoapods / Carthage (if used)
Pods/
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/test_output

# Misc
*.DS_Store
